<div id="footer" class="container">
    <footer class="navbar navbar-inverse navbar-fixed-bottom">

       <div class="navbar-brand">
           <p>&#169; Copyright 2017 || HV</p>
       </div>

            <div class="col-md-8">
               <ul class="nav navbar-nav navbar-right">
                <li><a href="/example1">Example1</a></li>
                <li><a href="/example2">Example2</a></li>
                <li><a href="/example3">Example3</a></li>
               </ul>
            </div>

    </footer>
</div>
